#nav {
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  /* border: 1px solid red; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
#top {
  height: 60px;
  display: flex;
  color: brown;
  /* border: 1px solid green; */
}
#left {
  width: 60%;
  margin-right: 10%;
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-between;
}
#right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}
#top1 {
  height: 30px;
  margin-top: 5px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-evenly;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}

.health1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-evenly;
}
.health{
  height: 400px;
  /* width: 200px; */
  width: 18%;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
.health > img {
  height: 60%;
  width: 100%;
}
.health > p {
  font-weight: bold;
}
.rate {
  background-color: green;
  color: white;
  margin-right: 10px;
}
.mrp {
  margin-right: 5px;
}
.less {
  text-decoration: line-through;
  margin-right: 5px;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: teal;
    color: cornsilk;
    border: transparent;
}
.bottom {
  height: 150px;
  /* border: 1px solid red; */
}
.bottom1 {
  display: flex;
  justify-content: space-evenly;
}
.bottom1 > div {
  font-size: 25px;
}
h1 {
  margin-left: 20%;
}
/* #data{
    display: flex;
    flex-wrap: wrap;
} */