#container1 {
  height: 400px;
  width: 400px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(135, 179, 110);
}
.box1 {
  margin: auto;
}
h1 {
  margin: auto;
}
button{
    padding: 10px 20px;
    border-radius: 40px;
    background-color: brown;
    color: white;
}

